<%= form_for (@customer) do |f| %>

<div class="field">
	<%= f.label "telefono" %><br/>
	<%= f.text_field :phone %>
</div>

<p>
	<%= f.label "nombre" %><br/>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label "calle" %><br/>
	<%= f.text_field :street %>
</p>

<p>
	<%= f.label "numero" %><br/>
	<%= f.text_field :number %>
</p>

<p>
	<%= f.label "departamento" %><br/>
	<%= f.text_field :department %>
</p>

<% if action_name == 'new' || 'search' %>
	<div class="actions">
		<%= f.submit "Agregar Cliente" %>
	</p>
<% else %> 
	<%= f.submit "Editar Cliente" %>
<% end %>

<% end %>

